@model Blog
@{
    ViewData["Title"] = "Detail";
    Layout = "_BlogLayout";
}

<div class="blog-single blog-common row">
    <div class="col-md-8">
        <header class="blog-page-header">
            <h4>Month: January 2010</h4>
        </header>
        <article class="hentry post type-post">
            <header class="entry-head">
                <h2 class="title">@Model.Title</h2>
                <div class="meta">
                    <p>
                        Posted by <span class="vcard author">@Model.Editer</span> in
                        <span class="category">@Model.Catalog</span> on
                        <time datetime="2014-04-28" class="pub-date">@Model.CreatedOn.ToLocalString()</time>
                    </p>
                </div>
            </header>

            <!-- Entry Content -->
            <div class="entry-content">
                <div class="content">
                    <p class="drop-cap">@Model.Desc</p>
                </div>
                <figure class="featured-image">
                    <img src="@Model.ImageUrl" alt="image">
                </figure>
                <div class="content">
                    @Model.Content
                </div> <!-- .content -->
            </div> <!-- .entry-content -->
            @if (Model.Tags != null && Model.Tags.Any())
            {
                <footer class="entry-meta">
                    <h4 class="head">Tagged with</h4>
                    @foreach (var tag in Model.Tags)
                    {
                        <a asp-controller="Blog" asp-action="Index" asp-route-tag="@tag">@tag</a>
                    }
                </footer>
            }
        </article> <!-- .hentry post-->

        <div class="blog-comments mb30">
            <h4 class="num-comments mb15">4 Comments</h4>
            <ul class="list-unstyled">
                <li>
                    <img src="~/img/clients/1.jpg" alt="image">
                    <div class="group">
                        <div class="commenter"><span class="name">Laura Lucia</span> - <small class="text-muted">12 April 2014 at 16:50</small></div>
                        <p>
                            We posses within us two minds. So far I have written only of the conscious mind. I would now like to introduce you
                            to your second mind, the hidden and mysterious subconscious.
                        </p>
                        <div class="reply-text text-muted">Reply</div>
                    </div>
                    <!-- reply box -->
                    <ul class="list-unstyled reply-box">
                        <li>
                            <img src="~/img/clients/2.jpg" alt="image">
                            <div class="group">
                                <div class="commenter"><span class="name">Laura Lucia - </span><small class="text-muted">12 April 2014 at 16:50</small></div>
                                <p>We posses within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                                <div class="reply-text text-muted">Reply</div>
                            </div>
                        </li>
                    </ul>
                    <!-- #end reply-box -->
                </li>

                <li>
                    <img src="~/img/clients/3.jpg" alt="image">
                    <div class="group">
                        <div class="commenter"><span class="name">Laura Lucia - </span><small class="text-muted">12 April 2014 at 16:50</small></div>
                        <p>We posses within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                        <div class="reply-text text-muted">Reply</div>
                    </div>
                </li>
            </ul>

            <form id="comment-form" action="" class="comment-form mb30">
                <h4 class="mb15 text-uppercase h5">Leave a Comment</h4>
                <h5 class="small mb20 text-bold comment-info">Your email address will not be published. Required fields are marked with <span class="highlight-star">*</span>.</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label class="small text-bold text-muted">Your Name: <span class="highlight-star">*</span></label>
                        <input type="text" class="form-control" placeholder="Johnny Doe">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="small text-bold text-muted">Email Address: <span class="highlight-star">*</span></label>
                        <input type="email" class="form-control" placeholder="lisa@doe.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="small text-bold text-muted">Message: <span class="highlight-star">*</span></label>
                    <textarea rows="5" class="form-control resize-v"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb15">Submit</button>
                <div class="comment-text-helper">
                    <p>You may use these HTML tags and attributes:</p>
                    <p class="tags">
                        &lt;a&gt;, &lt;abbr&gt;, &lt;acronym title=''&gt;, &lt;b&gt;, &lt;blockquote&gt; &lt;cite&gt; &lt;strike&gt;, &lt;strong&gt;,
                        &lt;em&gt;, &lt;q cite=''&gt;.
                    </p>
                </div>
            </form>
        </div>
    </div>

    @{await Html.RenderPartialAsync("Sidebar");}
</div>  <!-- .blog-single -->