@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "_BlogLayout.cshtml";
}
<div class="blog-posts blog-common row">
    <!-- articles left bar -->
    <div class="col-md-8">
        <!-- Post-1 @@Html.Raw("<span>Hello World</span>")-->
        @foreach (var article in Model)
        {
            <article class="hentry post type-post sticky">
                <header class="entry-head">
                    <h2 class="title"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@article.Id" rel="bookmark">@article.Title</a></h2>
                    <div class="meta">
                        <p>
                            Posted by <span class="vcard author">@article.Editer</span> in
                            <span class="category">@article.Catalog</span> on
                            <time datetime="2014-04-28" class="pub-date">@article.CreatedOn.ToLocalString()</time>
                        </p>
                    </div>
                </header>
                <div class="entry-content">
                    <figure class="featured-image">
                        <img src="@article.ImageUrl" alt="image">
                    </figure>
                    <div class="content">
                        <p>@article.Desc</p>
                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@article.Id" class="more-btn">Read More</a>
                    </div>
                </div>
            </article>
        }
        <!-- blog pagination -->
        <div class="blog-pagination">
            <div class="prev-btn text-uppercase">
                <a href="#"><i class="elegant-eleganticons-2"></i>Older</a>
            </div>
            <!-- pagination -->
            <ul class="pagination list-unstyled">
                <li class="active"><a href="#na">1</a></li>
                <li><a href="#na">2</a></li>
                <li><a href="#na">3</a></li>
                <li><a href="#na">4</a></li>
                <li><a href="#na">5</a></li>
            </ul>
            <!-- #end pagination -->
            <div class="next-btn text-uppercase">
                <a href="#">Newer<i class="elegant-eleganticons-3"></i></a>
            </div>
        </div>
    </div>

    <!-- blog right bar -->
    <div class="col-md-4 blog-sidebar">

        <!-- search bar -->
        <div class="search-bar mb30">
            <form id="blog-search" name="blog-search" action="#">
                <input class="form-control" type="text" placeholder="Enter keywords...">
            </form>
        </div>

        <!-- bio -->
        <div class="about-bio side-panel">
            <h4 class="panel-title text-uppercase">About Me</h4>
            <img src="~/img/author.jpg" class="bio-img">
            <p class="desc">Hello, my name is <strong>John Doe</strong>. I am a computer science student. I love blogging and coding. You can find me on twitter also. Twitter id is <a href="#na">@@doejohn</a> psum mollis purpharetra eget leo.</p>
        </div>

        <!-- arhives panel -->
        <div class="archives side-panel">
            <h4 class="panel-title text-uppercase">Archives</h4>
            <ul class="list-unstyled clearfix">
                <li>
                    <a href="#">Dec 2014</a>
                    <ul class="list-unstyled clearfix nested-list">
                        <li><a href="#">Item One</a></li>
                        <li><a href="#">Item Two</a></li>
                    </ul>
                </li>
                <li><a href="#">Sep 2014</a></li>
                <li><a href="#">Aug 2014</a></li>
                <li><a href="#">July 2014</a></li>
                <li><a href="#">Sep 2013</a></li>
            </ul>
        </div>
        @{ await Html.RenderPartialAsync("Catalog", ViewData["Catalogs"]); }

        @await Component.InvokeAsync("RecentPosts", new { count = 5 })

        @{ await Html.RenderPartialAsync("Tag", ViewData["Tags"]); }
        <!-- selectbox -->
        <div class="select-box">
            <select placeholder="Select a person..." class="">
                <option value="">Select a person...</option>
                <option value="1">Chuck Testa</option>
                <option value="2">Sage Cattabriga-Alosa</option>
                <option value="3">Nikola Tesla</option>
                <option value="4">Really Long name testing. Write whatever you want. It's your wish.</option>
            </select>
        </div>
    </div>
</div> <!-- .row, .blog-posts -->